@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&family=Kanit:wght@200&family=Manrope&family=Roboto:wght@300&family=Syncopate:wght@700&family=Unbounded:wght@600&display=swap');


* {
    margin:0;
    padding:0;
}




body {
    font-family:'Kanit', sans-serif;
    
}


.container {
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    padding:20px;
}

.navbar {
    display:grid;
    grid-template-rows:1fr 3fr;
    justify-items:center;
    align-items:stretch;
    background-color:azure;
}

.navlist {

    display:grid;
    grid-template-rows:repeat(auto-fit, 1fr);
    list-style-type:none;
    width:70%;
    padding-bottom:40px;
    
}



.navbar li {
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    gap:5px;

}

.heading {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    
}

h1 {
    margin-left:10px;
    font-size:28px;
}

.navbar li:hover {
    background-color: antiquewhite;
    border-radius:8px;
}

.admin-panel {
    display:grid;
    grid-template-rows:repeat(2, 1fr);
}

input {
    width:100%;
    height:40px;
    
}

.search-bar {
    display:flex;
    align-items:center;
    justify-content:center;
    flex:2;
    gap:10px;
    
    
}

label {
    text-align:center;
}

input#searching-bar {
    border-radius:10px;
    border:2px solid rgb(78, 78, 78);
    background-color:rgb(245, 241, 241);
}

.user-avatar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-weight:bold;

}




.user-info {
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30%;
}

.avatar {
    width:64px;
    height:64px;
}