@import url('https://fonts.googleapis.com/css2?family=Abel&family=Chakra+Petch:wght@500&family=Kanit:wght@200&family=Manrope&family=Roboto:wght@300&family=Syncopate:wght@700&family=Unbounded:wght@600&display=swap');

* {
    margin:0;
    padding:0;
}




body {
    font-family:'Kanit', sans-serif;
    
}


.container {
    width:100vw;
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 4fr;
}

.main {
    padding:20px;
}

.navbar {
    display:grid;
    grid-template-rows:1fr 3fr;
    justify-items:center;
    align-items:stretch;
    background-color:azure;
}

.navlist {

    display:grid;
    grid-template-rows:repeat(auto-fit, 1fr);
    list-style-type:none;
    width:70%;
    padding-bottom:40px;
    
}



.navbar li {
    display:flex;
    align-items:center;
    justify-content:center;
    font-weight:bold;
    gap:5px;

}

.heading {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    
}

h1 {
    margin-left:10px;
    font-size:28px;
}

.navbar li:hover {
    background-color: antiquewhite;
    border-radius:8px;
}

.admin-panel {
    display:grid;
    grid-template-rows:repeat(2, 1fr);
    gap:40px;
    border-bottom: 2px solid black;
    padding-bottom:10px;
}

input {
    width:100%;
    height:40px;
    
}

.search-bar {
    display:flex;
    align-items:center;
    justify-content:center;
    flex:2;
    gap:10px;
    
    
}

label {
    text-align:center;
}

input#searching-bar {
    border-radius:10px;
    border:2px solid rgb(78, 78, 78);
    background-color:rgb(245, 241, 241);
}

.user-avatar {
    display:flex;
    align-items:center;
    justify-content:space-between;
    font-weight:bold;

}




.user-info {
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30%;
}

.admin-nav {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    gap:80px;
}

.admin-nav button {
    background-color:white;
    font-size:25px;
    font-weight:bold;
    font-family:'Abel', sans-serif;
    border:none;
}

.admin-nav button:hover {
    border-radius:12px;
    background-color:rgb(157, 223, 223);
    transform:0.75s;
    border:2px solid rgb(245, 226, 118)
}

.wrapper {
    display:grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    margin-top:40px;
    
}

.info-area {
    display:grid; 
    grid-template-columns: 2fr 1fr;
    gap:20px;
    margin-top:40px;

}

.announcement-1,
.announcement-2 {
    border-bottom:2px solid black;
}

.announce-trend {
    display:grid;
    grid-template-rows:repeat(2, 1fr);
    gap:50px;
}

.trending-wrapper {
    display:grid;
    grid-template-rows: repeat(4,1fr);
    border:1px solid black;
    padding:20px;
    border-radius:8px;
    margin-top:10px;

}

.card {
    border:1px solid black;
    border-radius:8px;
    padding:30px;
}

.announce-wrap {
    border:1px solid black;
    border-radius:8px;
    padding:20px;
    margin-top:40px;
}
